body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    width: 90%;  /* Zorgt ervoor dat het op kleine schermen goed past */
    max-width: 600px; /* Voorkomt dat het te breed wordt op grote schermen */
    text-align: center;
}



#buttonBackground {
    position: absolute;
    top: calc(10vh);
    left: center;
    width: min(90vw, 40vh);
    height: min(90vw, 40vh);
    background-color: #c5e3be;
    border-radius: 15%;
}

.button {
    position: absolute;
    width: 25%;
    height: 25%;
    border: none;
    background-color: #002b38;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.1 * min(90vw, 40vh));
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#buttonleft {
    top: calc(37.5%);
    left: calc(10%);
}
#buttonright {
    top: calc(37.5%);
    left: calc(65%);
}
#buttonup {
    top: calc(10%);
    left: calc(37.5%);;
}
#buttondown {
    top: calc(65%);
    left: calc(37.5%);;
}



* {
    touch-action: manipulation;  /* Voorkomt dubbel tikken om te zoomen */
    user-select: none;
    -webkit-user-select: none; /* Voor Safari */
    -moz-user-select: none; /* Voor Firefox */
    -ms-user-select: none; /* Voor oudere Edge */
}

html, body {
    overflow: hidden;
}

#headertekst {
    position: absolute;
    top: 1vh;
    font-size: 5vh;
    user-select: none; /* Voorkomt tekstselectie */
    -webkit-user-select: none; /* Voor Safari */
    -moz-user-select: none; /* Voor Firefox */
    -ms-user-select: none; /* Voor oudere Edge */
}

#logo {
    position: absolute;
    top: 1vh;
    height: 10vh;
    max-width: 100vw;
    max-height: 19vw;
}


#rocketCustomisationBackground {
    position: absolute;
    top: calc(55vh);
    left: center;
    width: min(90vw, 40vh);
    height: min(67.5vw, 30vh);
    background-color: #c5e3be;
    border-radius: calc(0.15 * min(90vw, 40vh));
}
#minimap {
    position: relative;
    top: calc(50% - 0.5 * min(56.25vw, 25vh));
    left: calc(50% - 0.5 * min(56.25vw, 25vh));
    width: min(56.25vw, 25vh);
    height: min(56.25vw, 25vh);
    border-radius: calc(0.5 * min(67.5vw, 25vh));
    background-color: #000000
}
#miniRocket{
    position: relative;
    top: var(--top);
    left: var(--left);
    visibility: var(--visibility);
    width: min(2.8125vw, 1.25vh);
    height: min(2.8125vw, 1.25vh);
    border-radius: calc(0.5 * min(6.75vw, 2.5vh));
    border-radius: 0;
    opacity: 1;
    z-index: 5;
    
}